qt5build
build
.cmake
CMAkeFiles
kwin_effect_shaders_autogen
kwin_effect_shaders_config_autogen
Testing
..gitignore.kate-swp
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt.user
CTestTestfile.cmake
ecm_uninstall.cmake
install_manifest.txt
kwin_effect_shaders_config.so
kwineffects_interface.cpp
kwineffects_interface.h
kwineffects_interface.moc
kwineffects_interface.moc_parameters
libkwin_effect_shaders.so
Makefile
prefix.sh
ui_shaders_config.h
shaders.json
shadersconfig.cpp
shadersconfig.h
shadersConfig.json
