[Desktop Entry]
Encoding=UTF-8
Name=Shaders
Comment=Enables various shaders on the screen.

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=kevinlekiller
X-KDE-PluginInfo-Email=kevinlekiller@github.com
X-KDE-PluginInfo-Name=kwin_effect_shaders
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=False
